*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

:root {
  font-size: 1em;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #555;
}

a {
  color: #555;
}

a:hover,
a:active {
  color: #333;
}

body {
  min-height: 100vh;
  padding: 4rem 0;
  background: url('../img/header-bg.jpg'), linear-gradient(to right, #999 30%, #ccc 30%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.wrap {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 1rem;
  background: linear-gradient(to right, #333 30%, #efefef 30%);
  box-shadow: 10px 10px 20px 4px rgba(80, 80, 80, 0.5);
}

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row nowrap;
}

.row__left {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  width: 30%;
  padding: 1.5rem;
}

.row__right {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  width: 70%;
  padding: 1.5rem;
}

.header {
  margin-top: 3rem;
  background-color: #ccc;
}

.header-content {
  justify-content: center;
  align-items: center;
}

.header__title,
.header__subtitle {
  color: #000;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-size: 3.5rem;
}

.header__subtitle {
  font-size: 1.7rem;
}

.header__photo {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.header__photo img {
  display: block;
  width: 100%;
  border-radius: 100%;
}

.aside {
  position: relative;
}

.aside,
.aside a {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #efefef;
  text-decoration: none;
}

.aside a:hover,
.aside a:active {
  color: #555;
}

.aside-block {
  padding-bottom: 1.5rem;
}

.aside__title {
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.icon {
  width: 1rem;
  margin-right: .5rem;
}

.contact {
  word-wrap: break-word;
}

.contact li + li {
   padding-top: 0.8rem;
}

.contact__link {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.contact__link::after {
  content: attr(href);
}

.languages li {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.languages span {
  padding-left: 0.5rem;
}

.notification {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}




.main {
  /* margin-top: 3rem; */
  /* position: relative;
  top: 3rem; */
  /* flex: auto; */
  /* background: linear-gradient(to right, #333 30%, #eee 30%); */
}

.content__title {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.content__text {
  line-height: 1.5;
  list-style-type: disc;
}

.content-block + .content-block {
  margin-top: 3rem;
}

.content-block li {
  line-height: 2;
}

.content-block__list > li {
  list-style: none;
}

.content-block__list ul {
  list-style-type: disc;
}

.content__assets {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.content__figure {
  position: relative;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  top: 0;
  margin-bottom: 1rem;
  -webkit-transition: left .5s ease-in;
  -o-transition: left .5s ease-in;
  transition: left .5s ease-in;
}

.content__figure:nth-child(n) {
  left: -50%;
}

.content__figure:nth-child(2n) {
  left: 50%;
}

.content__figure figcaption {
  text-align: center;
  font-style: italic;
}

.content__figure img {
  display: block;
  width: 100%;
  padding: .5rem;
  -webkit-transition: 0.3s;
  -o-transition:  0.3s;
  transition:  0.3s;
}

.content__figure img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.experience-measure {
  -webkit-appearance: none;
  height: 1rem;
  width: 100%;
  border-radius: .5rem;
  background: #ccc;
}

.experience-measure__value {
  position: relative;
  width: 0;
  height: 1rem;
  border-radius: .5rem;
  background-color: #2a53eb;
  transition: width .5s;
}


/*Footer*/
.footer {
  /* margin-top: auto; */
}

@media screen and (max-width: 764px) {

  .row {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .wrap {
    background: transparent;
    overflow: hidden;
  }

  .row__left {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
  }

  .row__right {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
  }

  .aside {
    background-color: #333;
  }

  .content {
    background-color: #efefef;
  }

  .content__assets {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    align-items: center;
  }

  .content__figure img:hover {
    transform: scale(1.3);
  }
}

@media print {
  body {
    padding: 0;
    page-break-after: always;
  }

  .aside-block:nth-child(4),
  .content-block:nth-child(3) {
    padding-top: 1rem;
    break-before: page;
  }

  .notification {
    display: none;
  }

  .main {
    padding-bottom: 8rem;
  }
}
